html {
  width: 100%;
  height: 100%;
}
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+32,d7dee3+66,f5f7f9+100 */
  background: rgb(246,248,249); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 32%, rgba(215,222,227,1) 66%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 32%,rgba(215,222,227,1) 66%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 32%,rgba(215,222,227,1) 66%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}

.trip-name {
  font-size: 1.1rem;
}

.button-bottom {
  width: 100%;
}


.navbar {
  margin-bottom: 10px;
}
.playlist-card {
  overflow: hidden;
}
.angular-google-map-container { 
  height: 50vh;
}
h1 {
  margin-top: 0;
}

.card-block {
  padding: 0.25rem;
}

.hover-button {
  z-index: 10;
}

.playlist-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activity-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-card {
  margin: 3px;
}

.playlist-card {
  margin: 5px;
  cursor: pointer;
  width: 200px;
}

.playlist-card:hover {
  -webkit-filter: brightness(50%);
}

@media (max-width: 675px) {
  .playlist-grid {
    justify-content: center;
  }

  .playlist-card {
    margin: 3px;
  }
}

.playlist-card:empty {
  height: 0;
  border: none;
  width: 200px;
}
.activitylist-left {
  height: 65vh;
  overflow: auto;
}
.activitylist-right {
  height: 80vh;
  overflow: auto;
}
.addActivityImage {
  border: 3px solid black;
  height: 150px;
  width: 150px;
  float: left;
}
li.itineraies-li {
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  padding-left: 10px;
  width: 100px;
}
.logout-button {
  float: right;
}
.navigation {
  height: 50px;
}
li.foursquare-li {
  position: relative;
  list-style: none;
  border: 1px solid black;
  transition: background-color 1s ease;
  transition: color 0.6s ease;
}
li.li-add:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#remove-button {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  right: 3px;
  top: 3px;
}
span.playlist {
  position: relative;
  cursor: pointer;
  top: 0;
  display: inline-block;
  border: 1px solid black;
  height: 215px;
  width: 150px;
  vertical-align: top;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 1s ease;
  background-color: white;
  transition: color 0.6s ease;
  color: #333333;
  overflow: hidden;
}
span.playlist:empty {
  height: 0;
  border: none;
}
div.playlist-info {
  height: 65px;
  background-color: black;
}
p.play-icon {
  font-size: 42px;
  position: relative;
  top: -94px;
  left: 53px;
  visibility: hidden;
  color: #C1C1C1;
  z-index: 10;
}
span.playlist:hover .playlist-img {
  /*transform: scale(1.1);*/
  -webkit-filter: brightness(50%);
}
span.playlist:hover .playlist-info {
  color: #C1C1C1;
  background-color: black;
}
span.playlist:hover p.play-icon {
  visibility: visible;
}
.trip-box-text {
  position: absolute;
  padding-left: 5px;
  color: white;
}
p.trip-name {
  top: 153px;
  font-weight: bold;
}
p.trip-destination {
  bottom: -8px;
  font-size: 11px;
}
img.trip-img {
  width:148px;
  height:150px;
}
.page-title {
  text-align: center;
}
div.myTrips {
  width: 683px;
  margin: 0 auto;
}
div.playlist-img {
  height:150px;
  width: 150px;
}
.tripview-container {
  margin: 0 auto;
}

/*splash*/
.btn-spotify {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  outline: 0;
  color: #F8F8FF;
  background-color: #00CC66;
  border: 0px ;
  width: 240px;
  height: 50px;
  border-radius: 15px;
  font-size: 22px;
  margin-bottom: 5px
}

.suitcase {
    width: 80px;
    height: 60px;
}

.spotify-link {
    margin-top: 5px
    font-size: 30px;
    color:black;
    text-decoration: underline;
    text-shadow: 2px 2px #000000;
}

#light{
    font-size: 23px
}

.learn {
    font-size: 23px;
    color: #F8F8FF;
    text-decoration: underline;
    text-shadow: 2px 2px #000000;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('https://images.unsplash.com/photo-1445810694374-0a94739e4a03?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=75e4e2d57b0f4ae0843bb15002118302') no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#light{
    font-size: 23px;
    color: #F8F8FF;
    text-shadow: 2px 2px #000000;
}

body, html {
    width: 100%;
    height: 100%;
}

.full { height: 100%;}

.brand-heading {
  padding-top: 140px;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

#title {
  float :right;
}

.vote {
  font-size: 30px;
}

/*map*/

#map {
  height: 100%;
  float: left;
  width: 90%;
  margin:0 5%;
  height: 70vh;
}

.login-page .login-box {
  padding: 100px 0;
}

.card-act {
  background-color: #333; 
  border-color: #333; 
  width: 202px; 
  position: relative;
}

.place-img {
  max-width: 100%;
}

@media (max-width: 500px) {
  .fixed-bottom {
    position: fixed;
    bottom: 0px;
    width: 85%;
    z-index: 3;
    border: 10px white;
  }

  .inline {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    margin-top: .6em;
    margin-bottom: 1em;
  }

  .description {
    display: inline-block;
    width: 60%;
  }

  .grid-resp {
    height: 60vh;
    overflow: auto;
    margin-top: 1em;
  }

  .list-resp {
    max-height: 20vh;
    overflow: auto;
    margin-bottom: 1em;

  }
  .resp-title {
    font-size: 1.2rem;
  }

  .card-resp {
    width: 45%;
  }

  .h4-resp {
    font-size: 1.1rem;
  }
}


