
<!-- Start Trip Form -->
<div ng-show="!formCompleted" class="col-md-10 col-lg-8 col-xl-6 col-md-offset-1 col-lg-offset-2 col-xl-offset-3">
  <section class="ShowForm">
  <h4>Begin Your Trip</h4>
    <form ng-submit="startItinerary()">
      <fieldset class="form-group">
        <label for="trip-name">Trip Name</label>
        <input ng-model="itineraryName" type="text" class="form-control" id="trip-name" placeholder="Birthday Bonanza">
      </fieldset>
      <fieldset class="form-group">
        <label for="google-places">Search City:</label>
        <input type="text" g-places-autocomplete options="autoCompleteOptions" ng-model="places" id="google-places" class="form-control" placeholder="Oakland, CA, USA" />
      </fieldset>
      <button type="submit" class="btn btn-primary">Start Making Trip</button>
    </form>
  </section>
</div>


<div ng-show="!!formCompleted">
  <section class="col-sm-6 col-lg-4 col-xl-3 left-column">
    <h4>Make Your Trip</h4>


    <!-- creating itinerary list -->
    <section class="itineraryDetails">
      <h2>{{itineraryName}}</h2>
      <h4>{{address}}</h4>
      <div class="activitylist-left">
        <div ng-repeat="activity in itinerary track by $index" class="card card-inverse" style="background-color: #333; border-color: #333;">
          <div class="card-block">
            <div class="description">
              <h3 class="card-title">{{activity.name}}</h3>
              <p class="card-text">{{activity.address.split(',')[0]}}</p>
            </div>
            <a ng-click="removeFromTrip()" class="btn btn-danger inline">Remove</a>
          </div>
        </div>
      </div>
      <button class="btn btn-primary fixed-bottom" ng-click="saveItinerary()">Save Your Itinerary!</button>
    </section>
  </section>

  <!-- list of activities from API -->
  <section ng-show="formCompleted" class="selection-list col-sm-6 col-lg-8 col-xl-9 text-center right-column">
    <h4>Activities</h4>
      <section class="activity-grid">

        <div class="card activity-card card-inverse" style="background-color: #333; border-color: #333; width: 202px; position: relative" ng-repeat="activity in activities | orderBy:'-rating'">
          <div class="card-block">
            <h4 class="card-title">{{activity.name}}</h4>
            <h6 class="card-subtitle text-muted">{{activity.category}}</h6>
          </div>
          <img ng-src="{{activity.photo}}" height="200px" alt="image of {{activity.name}}">
          <div class="card-block">
            <a href="{{activity.url}}" class="card-link">Website</a>
            <a href="#" class="card-link">Foursquare</a>
            <button class="btn btn-primary button-bottom" ng-click="addToTrip()">Add</button>
          </div>
        </div>

      </section>
  </section>
</div>