<nav class="navbar navbar-full navbar-dark bg-inverse">

  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-content">
  ☰
  </button>

  <div class="collapse navbar-toggleable-xs col-xl-10 col-xl-offset-1" id="nav-content">
    <a class="navbar-brand" href="/#/">Tripifind</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/#create">New Trip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#">Your Trips</a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- content -->

<!-- Start Itinerary Form -->
<div ng-show="!formCompleted" class="col-md-6 col-md-offset-3">
  <section class="ShowForm">
  <h4>Begin Your Trip</h4>
    <form ng-submit="startItinerary()">
      <fieldset class="form-group">
        <label for="trip-name">Trip Name</label>
        <input ng-model="itineraryName" type="text" class="form-control" id="trip-name" placeholder="Birthday Bonanza">
      </fieldset>
      <fieldset class="form-group">
        <label for="trip-city">City</label>
        <input ng-model="city" type="text" class="form-control" id="trip-city" placeholder="San Francisco">
      </fieldset>
      <fieldset class="form-group">
        <label for="trip-state">State</label>
        <input ng-model="state" type="text" class="form-control" id="trip-state" placeholder="CA">
      </fieldset>
      <button type="submit" class="btn btn-primary">Start Making Trip</button>
    </form>
  </section>
</div>


<div class="container-fluid col-xl-10 col-xl-offset-1" ng-show="!!formCompleted">
  <section class="col-sm-4 col-lg-2 left-column">
    <h4>Make Your Trip</h4>


    <!-- creating itinerary list -->
    <section class="itineraryDetails">
      <h2>{{itineraryName}}</h2>
      <h4>{{city}}, {{state}}</h4>
      <div class="activitylist-left">
        <ul>
          <li class="foursquare-li li-remove" ng-repeat="activity in itinerary track by $index">
            <div class="row">
              <p><strong>{{activity.name}}</strong></p>
              <p>{{activity.address.split(',')[0]}}</p>
              <p>{{activity.category}}</p>
              <span id="remove-button" class="glyphicon glyphicon-remove" ng-click="removeFromTrip()"></span>
            </div>
          </li>
        </ul>
      </div>
      <button class="btn btn-primary" ng-click="saveItinerary()">Save Your Itinerary!</button>
    </section>
  </section>

  <!-- list of activities from API -->
  <section ng-show="formCompleted" class="selection-list col-sm-8 col-lg-10 text-center right-column">
    <h4>Activities</h4>
      <section class="activity-grid">

        <div class="card activity-card card-inverse" style="background-color: #333; border-color: #333; width: 200px; position: relative" ng-repeat="activity in activities | orderBy:'-rating'">
          <div class="card-block">
            <h4 class="card-title">{{activity.name}}</h4>
            <h6 class="card-subtitle text-muted">{{activity.category}}</h6>
          </div>
          <img ng-src="{{activity.photo}}" height="200px" alt="image of {{activity.name}}">
          <div class="card-block">
            <a href="{{activity.url}}" class="card-link">Website</a>
            <a href="#" class="card-link">Foursquare</a>
            <button class="btn btn-primary button-bottom" ng-click="addToTrip()">Add</button>
          </div>
        </div>

      </section>
  </section>
</div>