<div class="col-xl-10 col-xl-offset-1">
  <h2 class="list-title">Popular Trips:</h2>
  <div class="playlist-grid" >
    <div class="card card-inverse playlist-card" style="background-color: #333; border-color: #333;" ng-repeat="trip in tripResults | filter:filter" ng-click="viewTrip(tripResults.indexOf(trip))">
      <img class="card-img-top" height="200px" ng-src="{{trip.image}}" alt="image of {{trip.name}}, {{trip.destination[0]}}">
      <div class="card-block">
        <h4 class="card-title trip-name">{{trip.name}}</h4>
        <p class="card-text">{{trip.destination[0]}}, {{trip.destination[1]}}</p>
      </div>
    </div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
    <div class="playlist-card"></div>
  </div>
</div>
