<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Tripify </title>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <div  class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div id="title" class="navbar-header">
                <div type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </div>
                <div>
                    <image class="suitcase" src="http://i.imgur.com/8K7s19Q.png"></image> 
                    <span id="light">Soy Milk</span> 
                </div>
            </div>


    <!--         <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                     </li>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>

    <!-- Intro Header -->
    <div class="intro">

        <h1 class="brand-heading">Ideas For Every Adventure</h1>
        <br>
        <br>
        <br>
        <a href="#/signup"><button class="btn-spotify page-scroll"> Get Soy Milk </button><br></a>
        <a class="learn" href="#/"> Explore </a>
     </div> 
</body>
</html>