


<h2 class="page-title">{{name}}</h2>
<h4 class="page-title">{{destination[0]}}, {{destination[1]}}</h4>

<div class="tripview-container col-md-4">
  <ul ui-sortable ng-model="activities">
    <li class="foursquare-li li-add" ng-repeat="activity in activities">
      <div class="row">
          <div class="col-xs-4">
            <img class="addActivityImage" ng-src="{{activity.photo}}" alt="{{activity.name}} in {{activity.address.split(',')[1]}}">
          </div>
          <div class="col-xs-6">
            <p><strong>{{activity.name}}</strong></p>
            <p>{{activity.address.split(',')[0]}}</p>
            <p>{{activity.category}}</p>
            <p>{{activity.rating}}/10</p>
            <a href="{{activity.url}}" target="_blank">Website</a>
          </div>
          <div class="col-xs-2">
            <div class="vote glyphicon glyphicon-triangle-top"></div>
            <div class="vote glyphicon glyphicon-triangle-bottom"></div> 
          </div>
      </div>
    </li>
  </ul>
</div>

<div class="col-md-8">
  <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>
