<h2 class="page-title">{{name}}</h2>
<h4 class="page-title">{{destination[0]}}, {{destination[1]}}</h4>

<div class="tripview-container col-md-4">
  <ol ui-sortable ng-model="activities">
    <li ng-repeat="activity in activities track by $index" class="trip-numbered-item">
      <div class="card card-inverse" style="background-color: #333; border-color: #333;">
        <div class="card-block">
          <h3 class="card-title">{{activity.name}}</h3>
          <p class="card-text">{{activity.address.split(',')[0]}}</p>
          <p class="card-text">{{activity.category}}</p>
          <a href="{{activity.url}}" target="_blank">Website</a>
        </div>
      </div>
    </li>
  </ol>
</div>

<div class="col-md-8">
  <section id="map">
    
  </section>
</div>